<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="post">
    <button type="submit">Log Out</button>
</form>

<form action="/?_method=DELETE" method="POST">
    <button type="submit">Log Out and delete profile</button>
</form>
