<link rel='stylesheet' href='/style.css' />
<body>
    <header>
            <form action="/logout?_method=DELETE" method="post">
                <button type="submit">Log Out</button>
            </form>

            <form action="/?_method=DELETE" method="POST">
                <button type="submit">Log Out and delete profile</button>
            </form>
            
            <form action="/update?_method=PUT" method="POST">
                <button type="submit">Update profile</button>
            </form>
    </header>

    <div id="welcome">
        <h1>Hi <%= name %></h1>
    </div>
          
    <form id="form2" action="/" method="POST">
        <h2>Which product would you like to create?</h2>
            <div>
                <label for="description"></label>
                <input class="updateInfo" type="text" id="description" name="description" required placeholder="Description">
            </div>
                <br>
            <div>
                <label for="price"></label>
                <input class="updateInfo" type="text" id="price" name="price" required placeholder="Price">
            </div>
                <br>
            <div>
                <label for="category"></label>
                <input class="updateInfo" type="text" id="category" name="category" required placeholder="category">
            </div>
                <br>
            <div>
                <label for="img">Select image:</label>
                <input type="file" id="img" name="img" accept="image/*" required>
            </div>
            <form action="/profile">
                <button id="createProduct" type="submit1">Create Product</button>
            </form>
            <a href="/profile">View your products</a>
        </form>
</body>