<html>
    <body>
        <link rel='stylesheet' href='/style.css' />
    <h1>View your products for sale</h1>
        
        <a href="/update-product">Update Product</a>
        <a href="/">return to home page</a>
</html>