<link href="/style.css" rel="stylesheet">
<form id="form2" action="/" method="POST">
    <h2>Which product would you like to update?</h2>
        <div>
            <label for="id"></label>
            <input class="updateInfo" type="text" id="id" name="id" required placeholder="Id">
        </div>
        <div>
            <label for="description"></label>
            <input class="updateInfo" type="text" id="description" name="description" required placeholder="Description">
        </div>
            <br>
        <div>
            <label for="price"></label>
            <input class="updateInfo" type="text" id="price" name="price" required placeholder="Price">
        </div>
            <br>
        <div>
            <label for="category"></label>
            <input class="updateInfo" type="text" id="category" name="category" required placeholder="category">
        </div>
            <br>
        <div>
            <label for="img">Select image:</label>
            <input type="file" id="img" name="img" accept="image/*" required>
        </div>
        <form action="/profile">
            <button id="createProduct" type="submit1">Create Product</button>
        </form>
        <a href="/profile">View your products</a>
    </form>