<link href="/style.css" rel="stylesheet">
<div id="form1">
    <h1>Oh! made a typo? Change product here!</h1>
    <br>
    <h2>Update Product</h2>
    <!--create a register form that uses "/register" and tells us that the method used is post-->
    <form action="/update-product?_method=PUT" method="POST">
    <!--filled out the form adding name, email and password-->
            <br>
        <div>
            <label for="description"></label>
            <input class="updateInfo" type="text" id="description" name="description" c placeholder="Description">
        </div>
            <br>
        <div>
            <label for="price"></label>
            <input class="updateInfo" type="text" id="price" name="price" required placeholder="Price">
        </div>
            <br>
        <div>
            <label for="category"></label>
            <input class="updateInfo" type="text" id="category" name="category" required placeholder="category">
        </div>
            <br>
        <div>
            <label for="img">Select image:</label>
            <input type="file" id="img" name="img" required accept="image/*">
        </div>
            <br>
        <button id="update" type="submit1">Update</button>
    </form>
    <!--after the form i use <a> to link to login-->
    <a href="/profile">return to your profile</a>
    </div>